@model ShippingMethods

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Update Shipping Method</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form class="form-horizontal form-label-left" method="post" action="/admin/ShippingMethods/Update/@Model.Id" style="width:70%;margin-left:250px">

                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3" asp-for="Name">Name</label>
                    <div class="col-md-9 col-sm-9">
                        <input class="form form-control" asp-for="Name" value="@Model.Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3" asp-for="Description">Description</label>
                    <div class="col-md-9 col-sm-9">
                        <input class="form form-control" asp-for="Description" value="@Model.Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3" asp-for="Cost">Cost</label>
                    <div class="col-md-9 col-sm-9">
                        <input class="form form-control" asp-for="Cost" value="@Model.Cost" />
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3" asp-for="CreatedAt">Created At</label>
                    <div class="col-md-9 col-sm-9">
                        <input class="form form-control" asp-for="CreatedAt" value="@Model.CreatedAt" readonly />
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3" asp-for="UpdatedAt">Updated At</label>
                    <div class="col-md-9 col-sm-9">
                        <input class="form form-control" asp-for="UpdatedAt" value="@Model.UpdatedAt" readonly />
                        <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3" asp-for="EstimatedDeliveryTime">Estimated Delivery Time</label>
                    <div class="col-md-9 col-sm-9">
                        <input class="form form-control" asp-for="EstimatedDeliveryTime" value="@Model.EstimatedDeliveryTime" />
                        <span asp-validation-for="EstimatedDeliveryTime" class="text-danger"></span>
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 offset-md-3">
                        <input type="submit" class="btn btn-success" value="Update" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
